[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fer-emanu
[access "refs/for/refs/*"]
	read = group user/fer-emanu
	push = group user/fer-emanu
	label-Code-Review = -2..+2 group user/fer-emanu
	label-Verified = -1..+1 group user/fer-emanu
	rebase = group user/fer-emanu
	removeReviewer = group user/fer-emanu
	submit = group user/fer-emanu
[access "refs/heads/*"]
	read = group user/fer-emanu
	create = group user/fer-emanu
	push = +force group user/fer-emanu
	pushMerge = group user/fer-emanu
[access "refs/tags/*"]
	push = +force group user/fer-emanu
	pushTag = group user/fer-emanu
	pushSignedTag = group user/fer-emanu
